* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 16px Verdana, Arial, sans-serif;
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 100px;
}

section {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    letter-spacing: 5px;
}

h1, h2 {
    padding: 20px 0;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header-navigation {
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #f26659;
}

.header-navigation__link {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: inherit;
}

.header-navigation__link_active {
    color: white;
}

.header-navigation__link:hover {
    text-decoration: underline;
}

.node-js {
    color: #76ae63;
    text-transform: uppercase;
}

.photo {
    width: 240px;
    height: 240px;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    float: left;
}

#about-me {
    height: 300px;
}

.about-me__text {
    line-height: 24px;
}

.wolf {
    color: gray;
}

.form {
    max-width: fit-content;
    padding: 10px;
    border: 3px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form__item {
    padding: 5px 0;
}

.form__item label {
    display: inline-block;
    min-width: 100px;
}

.form__item input {
    padding: 3px;
    border-radius: 10px;
}

.table {
    display: grid;
    grid-template-columns: repeat(8, auto);
}

.table__cell {
    white-space: nowrap;
    padding: 5px;
    border: 2px solid grey;
    border-right: none;
    border-bottom: none;
}

.table__cell:nth-child(8n) {
    border-right: 2px solid grey;
}

.table__cell:nth-last-child(-n+8) {
    border-bottom: 2px solid grey;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 3px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-load__time {
    color: red;
}

@media screen and (max-width: 480px) {
    #ascii, .about-me__text, #code pre {
        display: none;
    }
}
